Flask==0.12.2
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
argparse==1.2.1
certifi==2017.4.17
chardet==3.0.3
click==6.7
confiky==0.1.10
flask-slackbot==0.2.1
idna==2.5
itopy==0.1.2
itsdangerous==0.24
requests==2.16.5
six==1.10.0
slacker==0.9.50
urllib3==1.21.1
wsgiref==0.1.2
